<div class="container-fluid page">
    <div class="page__box p-3 mt-2">HOME</div>
    <div class="page__content">
        <div class="page__content-data ">
            <div class="example-label"></div>
                <div class="example-button-row">
                    <a mat-list-item routerLink="/login" routerLinkActive="list-item-Active"> 
                   <button mat-button color="primary">Se connecter
                   </button></a>
                   <br>
                   <a mat-list-item routerLink="/sign-in" routerLinkActive="list-item-Active"> 
                    <button mat-button color="primary">S ' inscrire
                    </button></a>
                </div>
        </div>

    </div>

</div>

